<h1 class="title-page">Lorem ipsum dolor sit amet.</h1>

<h2 class="title-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic itaque iusto minus mollitia quaerat
	quasi rerum! At dignissimos expedita hic in incidunt itaque odit reiciendis voluptatibus. Explicabo nesciunt tempora
	velit.</h2>

<hr />

{{mod "js-viewports"}}

<hr />

<div class="g-row g-layout-1">
	<div class="g-col">{{mod "teaser"}}</div>
	<div class="g-col">{{mod "teaser"}}</div>
	<div class="g-col">{{mod "teaser"}}</div>
	<div class="g-col">{{mod "teaser"}}</div>
	<div class="g-col">{{mod "teaser"}}</div>
	<div class="g-col">{{mod "teaser"}}</div>
</div>

<hr />

<div class="g-row g-layout-2">
	<div class="g-col">{{mod "teaser" template="alternate"}}</div>
	<div class="g-col">{{mod "teaser" template="alternate"}}</div>
	<div class="g-col">{{mod "teaser" template="alternate"}}</div>
	<div class="g-col">{{mod "teaser" template="alternate"}}</div>
</div>